{% extends "site_base.html" %}
    {% block title %}Home{% endblock %}
    {% block html_head %}
        <meta name="robots" content="index, follow, noarchive">
    {% endblock %}
{% block main_content %}
    <h2>Dashboard</h2>
    <hr>
    <div class="row">
        <!-- {{member_report}} -->
        <div class="col-md-6">
            <!-- Charts -->
            <h3>Umsätze</h3>
            <canvas class="estimations-canvas" height="250"></canvas>
        </div>
        <div class="col-md-6">
            <h3>Mitglieder</h3>
            <canvas class="members-canvas" height="250"></canvas>
        </div>
        <div class="col-md-12">
            <hr>
            <h3>To-Do`s</h3>
            <table class="table table-bordered">
                <tbody>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, sunt officiis exercitationem accusantium recusandae corrupti dolorem aut natus sint placeat reiciendis ad eveniet nesciunt inventore illum in quibusdam rerum reprehenderit!</td>
                    <td class="text-center btn-controlls">
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs">Bearbeiten</button>
                            <button class="btn btn-danger btn-xs">Ausblenden</button> 
                        </div>        
                    </td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, sunt officiis exercitationem accusantium recusandae corrupti dolorem aut natus sint placeat reiciendis ad eveniet nesciunt inventore illum in quibusdam rerum reprehenderit!</td>
                    <td class="text-center btn-controlls">
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs">Bearbeiten</button>
                            <button class="btn btn-danger btn-xs">Ausblenden</button> 
                        </div>      
                    </td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, sunt officiis exercitationem accusantium recusandae corrupti dolorem aut natus sint placeat reiciendis ad eveniet nesciunt inventore illum in quibusdam rerum reprehenderit!</td>
                    <td class="text-center btn-controlls">
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs">Bearbeiten</button>
                            <button class="btn btn-danger btn-xs">Ausblenden</button> 
                        </div>      
                    </td>
                  </tr>
                  <tr>
                    <td>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Hic, sunt officiis exercitationem accusantium recusandae corrupti dolorem aut natus sint placeat reiciendis ad eveniet nesciunt inventore illum in quibusdam rerum reprehenderit!</td>
                    <td class="text-center btn-controlls">
                        <div class="btn-group">
                            <button class="btn btn-success btn-xs">Bearbeiten</button>
                            <button class="btn btn-danger btn-xs">Ausblenden</button> 
                        </div>      
                    </td>
                  </tr>
                </tbody>
              </table>
        </div>
    </div>

{% endblock %}