<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="shortcut icon" href="../../docs-assets/ico/favicon.png">

    <title>{% block title %}{% endblock %}</title>

    <!-- Bootstrap core CSS -->
    <link href="{{ STATIC_URL }}css/bootstrap.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{{ STATIC_URL }}css/sticky-footer-navbar.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/signin.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/main.css" rel="stylesheet">
    <link href="{{ STATIC_URL }}css/bootstrap.dataTables.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy this line! -->
    <!--[if lt IE 9]><script src="../../docs-assets/js/ie8-responsive-file-warning.js"></script><![endif]-->

    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->

    {# Extra head tags #}
    {% block html_head %}{% endblock %}
  </head>

  <body>

    <!-- Wrap all page content here -->
    <div id="wrap">
    {% include "header.html" %}
        <div class="container">

            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-warning ">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}

            {% block main_content %}{% endblock %}
        </div>
    </div>
    {% include "footer.html" %}
    
    {% block extra_js %}{% endblock %}

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.min.js"></script>
    <script src="{{ STATIC_URL }}/js/chart.min.js"></script>
    <script src="{{ STATIC_URL }}/js/main.js"></script>
    <script src="{{ STATIC_URL }}/js/jquery.dataTables.js"></script>
    <script src="{{ STATIC_URL }}/js/bootstrap.dataTables.js"></script>
  </body>
</html>