{% extends "site_base.html" %}


{% block title %}Mitglieder{% endblock %}

{% block html_head %}
    <meta name="robots" content="index, follow, noarchive">
{% endblock %}

{% block main_content %}
<h2>Alles Transaktionen von {{member}}</h2>
<hr>
<table class="table table-striped table-hover sorting-table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Typ</th>
            <th>Zweck</th>
            <th>Von</th>
            <th>Betrag</th>
        </tr>
    </thead>
    <tbody>
		{% for transaction in transactions %} 
	        <tr>
	            <td>{{transaction.booking_date|date:"d.m.Y"}}</td>
	            <td>{{transaction.name}}</td>
	            <td>{{transaction.purpose}}</td>
	            <td>
	            	{% if transaction.member %}
	            		<a href="{{transaction.member}}">{{transaction.member}}</a>
	            	{% else %}
	            		<a href="{% url 'transaction_to_member' transaction.id %}" class="btn btn-default btn-xs">verknüpfen</a>
	            	{%endif%}
	            </td>
	            <td>{{transaction.amount}}</td>
	        </tr>
	    {% empty %}
	        <tr colspan="4">
	        	<td>Es sind noch keine Umsätze vorhanden</td>
	        </tr>
		{% endfor %}
    </tbody>
</table>


{% endblock %}