{% extends "site_base.html" %} 

{% block title %}Umsätze{% endblock %} 

{% block html_head %}

<meta name="robots" content="index, follow, noarchive">

{% endblock %} 
{% block main_content %} 
<h2>Umsätze</h2>
<table class="table table-striped table-hover sorting-table">
    <thead>
        <tr>
            <th>Datum</th>
            <th>Debitor/Kreditor</th>
            <th>Zweck</th>
            <th>Von</th>
            <th>Betrag</th>
        </tr>
    </thead>
    <tbody>
		{% for transaction in transactions %} 
	        <tr>
	            <td>{{transaction.booking_date|date:"d.m.Y"}}</td>
	            <td>{{transaction.name}}</td>
	            <td>{{transaction.purpose}}</td>
	            <td>
	            	{% if transaction.member %}
	            		<a href="{% url 'member_edit' transaction.member.id %}">{{transaction.member}}</a>
	            	{% else %}
	            		<a href="{% url 'transaction_to_member' transaction.id %}" class="btn btn-default btn-xs">
	            			verknüpfen
	            		</a>
	            	{%endif%}
				</td>
	            <td>{{transaction.amount}}</td>
	        </tr>
	        {% empty %}
	        <tr colspan="4">
	        	<td>Es sind noch keine Umsätze vorhanden</td>
	        </tr>
		{% endfor %}
    </tbody>
</table>

{% endblock %}
